<template>
  <v-app>
    <div class="hello">
      <h1>{{ msg }}</h1>
      <div class="test-link">
        <router-link to="/test-auth">GO to test auth</router-link>
        <router-link to="/test-content-mgm">GO to test cotent mgm</router-link>
      </div>
      <v-row no-gutters v-if="!user">
        <v-col>
          <span>尚未登入，請登入</span>
        </v-col>
        <v-col>
          <v-btn color="primary" dark @click="$router.push('login')">
            Log In
          </v-btn>
        </v-col>
      </v-row>
      <v-row no-gutters v-else>
        <v-col>
          <v-btn color="primary" dark @click="logout"> Log out </v-btn>
        </v-col>
      </v-row>
      <v-row class="mt-6" no-gutters v-if="user">
        <v-col>Id: {{ user.id }} </v-col>
        <v-col>Name: {{ user.name }}</v-col>
        <v-col> Birth: {{ user.birth }}</v-col>
      </v-row>
    </div>
  </v-app>
</template>

<script>
import { mdiAccount } from '@mdi/js';
import { mapGetters } from 'vuex';
export default {
  name: 'Home',
  props: {
    msg: String,
  },
  data: () => ({
    svgPath: mdiAccount,
  }),
  computed: {
    ...mapGetters({
      user: 'getUser',
    }),
  },
  methods: {
    logout() {
      this.$store.dispatch('setUser', null);
      this.$store.dispatch('cleanCredential');
      this.$router.push({ path: '/' }).catch((err) => {
        console.log(err);
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.test-link {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 200px;
  align-items: center;
}

h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
