<template>
  <div class="test-auth">
    <h1>Your Profile</h1>
    <div class="no-user" v-if="!accessToken">{{ noUserMsg }}</div>
    <div v-else>
      <table class="user-list">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>birth</th>
          </tr>
        </thead>
        <tbody>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.birth }}</td>
        </tbody>
      </table>
      <span>AppRoles:</span>
      <table class="user-list">
        <thead>
          <tr>
            <th>角色名稱</th>
            <th>角色描述</th>
          </tr>
        </thead>
        <tbody v-for="appRole in user.appRoles" :key="appRole.id">
          <td>{{ appRole.chi_name }}</td>
          <td>{{ appRole.chi_description }}</td>
        </tbody>
      </table>

      <span>GlobalRoles:</span>
      <table class="user-list">
        <thead>
          <tr>
            <th>角色名稱</th>
            <th>角色描述</th>
          </tr>
        </thead>
        <tbody v-for="globalRole in user.globalRoles" :key="globalRole.id">
          <td>{{ globalRole.chi_name }}</td>
          <td>{{ globalRole.chi_description }}</td>
        </tbody>
      </table>
    </div>

    <!-- <div class="vuex-value">
      <h2>mapGetters test vuex value</h2>

      <p>vuex value: {{ testValue }}</p>
      <button @click="addTestValue(1)">value+1</button>
    </div>
    <div class="vuex-user-value">
      <h2>mapState test user vuex value</h2>
      <p>users value: {{ testUsers }}</p>
    </div> -->

    <router-link to="/">GO back</router-link>
  </div>
</template>
<script>
import Cookies from 'js-cookie';

import { USERS } from '@/constants/auth/query';
import { mapState, mapGetters, mapActions } from 'vuex';
export default {
  name: 'TestAuth',
  data() {
    return {
      users: [],
      noUserMsg: '尚未有登入資料',
    };
  },
  computed: {
    ...mapState(['testUsers']),
    ...mapGetters({
      testValue: 'getTestValue',
      user: 'getUser',
      accessToken: 'getAccessToken',
    }),
  },
  mounted() {
    // this.getUsers();
  },
  methods: {
    ...mapActions(['addTestValue']),
    // async getUsers() {
    //   try {
    //     let res = await this.$apollo.query({
    //       query: USERS,
    //     });
    //     this.users = res.data.users;
    //   } catch ({ graphQLErrors }) {
    //     graphQLErrors.forEach((graphQLError) => {
    //       if (graphQLError.message === 'Authorization header not found.') {
    //         this.noUserMsg = 'Authorization failed,please signin!';
    //       }
    //     });
    //   }
    // },
  },
};
</script>

<style lang="scss" scoped>
.test-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .user-list {
    * {
      border: 1px solid;
    }
  }
}
</style>
