<template>
  <div class="test-content-mgm">
    <h1>Post List</h1>
    <div class="no-post" v-if="!posts.length">there is no post!</div>
    <table class="post-list" v-else>
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>birth</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="post in posts" :key="post.id">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.status }}</td>
        </tr>
      </tbody>
    </table>

    <router-link to="/">GO back</router-link>
  </div>
</template>
<script>
import { POSTS } from "@/constants/content-mgm/query";
export default {
  name: "TestContentMgm",
  data() {
    return {
      posts: [],
    };
  },
  mounted() {},
  methods: {},
  apollo: {
    posts: {
      query: POSTS,
      result({ data }) {
        this.posts = data.posts;
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.test-content-mgm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .post-list {
    * {
      border: 1px solid;
    }
  }
}
</style>