<template>
  <div class="d-flex justify-center">
    <v-card width="600">
      <v-card-title>
        <span class="text-h5">LOG IN~</span>
      </v-card-title>
      <v-card-text>
        <v-row no-gutters>
          <v-col>
            <v-text-field
              v-model="account"
              :error-messages="accountErrors($v.account)"
              @input="$v.account.$touch()"
              @keyup.enter="pressEnter"
              label="Account"
              required
              :placeholder="!autofilled ? ' ' : ''"
            ></v-text-field>
            <v-text-field
              :append-icon="passwordVisiable ? mdiEye : mdiEyeOff"
              @click:append="passwordVisiable = !passwordVisiable"
              :type="passwordVisiable ? 'text' : 'password'"
              v-model="password"
              :error-messages="passwordErrors($v.password)"
              @input="$v.password.$touch()"
              @keyup.enter="pressEnter"
              label="Password"
              :placeholder="!autofilled ? ' ' : ''"
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="closeDialog"> 返回 </v-btn>
        <v-btn
          color="blue darken-1"
          text
          @click="login"
          :loading="loading"
          :disabled="isBtnDisable"
        >
          登入
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>

  <!-- <message-snack-bar
      status="ERROR"
      :isOpen="isMessageOpen"
      :text="errorMessage"
      @close="isMessageOpen = false"
    ></message-snack-bar> -->
</template>

<script>
import Cookies from 'js-cookie';
import { mapGetters } from 'vuex';
import { validationMixin } from 'vuelidate';
import { required } from 'vuelidate/lib/validators';
import { mdiReload, mdiEye, mdiEyeOff } from '@mdi/js';

import { SIGNIN } from '@/constants/auth/mutation';
// import MessageSnackBar from '@/components/common/snackbar/MessageSnackBar';

export default {
  // props: ['dialog'],
  components: {
    // 'message-snack-bar': MessageSnackBar,
  },
  data: () => ({
    dialog: true,
    mdiReload,
    mdiEye,
    mdiEyeOff,
    account: '',
    password: '',
    isAccountError: false,
    isPwdError: false,
    autofilled: false,
    passwordVisiable: false,
    loading: false,
    isMessageOpen: false,
    errorMessage: '',
  }),
  mixins: [validationMixin],
  validations: {
    account: {
      required,
    },
    password: {
      required,
    },
  },
  watch: {
    account() {
      this.autofilled = true;
    },
  },
  computed: {
    ...mapGetters({
      user: 'getUser',
    }),
    isBtnDisable() {
      return this.isAccountError || this.isPwdError;
    },
  },
  methods: {
    pressEnter() {
      if (!this.isAccountError && !this.isPwdError) {
        this.login();
      }
    },
    closeDialog() {
      this.$router.push({ path: '/' }).catch((err) => {
        console.log(err);
      });
    },
    accountErrors(value) {
      const errors = [];
      if (!value.$dirty) return errors;
      !value.required && errors.push('此欄位必填');
      // !value.accountRule && errors.push('格式有误');
      this.isAccountError = errors.length === 0 ? false : true;
      return errors;
    },
    passwordErrors(value) {
      const errors = [];
      if (!value.$dirty) return errors;
      !value.required && errors.push('此欄位必填');
      // !value.passwordRule &&
      //   errors.push('格式有误,密码是由8-20位字母及数字组成');
      this.isPwdError = errors.length === 0 ? false : true;
      return errors;
    },
    async login() {
      this.loading = true;

      try {
        const result = await this.$apollo.mutate({
          mutation: SIGNIN,
          variables: {
            input: {
              account: this.account,
              password: this.password,
            },
          },
          update: async (store, { data: { signin } }) => {
            let { accessToken, refreshToken, user } = signin;

            this.setCookies(accessToken, refreshToken);

            this.$store.dispatch('setUser', user);
            this.$store.dispatch('setToken', { accessToken, refreshToken });
          },
        });
      } catch (error) {
        console.log(error);
      }
      this.loading = false;

      if (Cookies.get('accessToken')) {
        this.closeDialog();
        this.$router.push({ path: '/' }).catch((err) => {
          console.log(err);
        });
      }
    },
    setCookies(accessToken, refreshToken) {
      Cookies.set('accessToken', accessToken);
      Cookies.set('refreshToken', refreshToken);
    },
    // signFailed(error) {
    //   if (!error.graphQLErrors[0].extensions.exception.response) {
    //     this.errorMessage = '登入失敗';
    //   } else {
    //     let errorType =
    //       error.graphQLErrors[0].extensions.exception.response.error;
    //     switch (errorType) {
    //       case 'USER_INACTIVE':
    //         this.errorMessage = '使用者帳號已停用，如需啟用請聯絡管理員';
    //         break;
    //       case 'PASSWORD_FAILED':
    //         this.errorMessage = '帳號或密碼錯誤';
    //         break;
    //       case 'ACCOUNT_FAILED':
    //         this.errorMessage = '帳號或密碼錯誤';
    //         break;
    //       default:
    //         this.errorMessage = '登入失败';
    //         break;
    //     }
    //   }
    //   this.isMessageOpen = true;
    // },
  },
};
</script>
