<template>
  <v-snackbar
    :color="color"
    v-model="enable"
    :timeout="calTimeout"
    class="white--text"
    transition="true"
    bottom
    @input="emitCloseEvent"
  >
    {{ text }}
    <v-btn text @click="emitCloseEvent"> 確認 </v-btn>
  </v-snackbar>
</template>

<script>
export default {
  props: ['isOpen', 'status', 'text', 'timeout'],
  data() {
    return {
      enable: false,
    };
  },
  watch: {
    isOpen(newValue) {
      this.enable = newValue;
    },
  },
  computed: {
    color() {
      let color = 'primary';
      switch (this.status) {
        case 'ERROR':
          color = 'error';
          break;
        case 'SUCCESS':
          color = 'success';
          break;
      }
      return color;
    },
    calTimeout() {
      // 沒有給值 預設五秒
      if (!this.timeout) {
        return 5000;
      }
      return this.timeout;
    },
  },
  methods: {
    emitCloseEvent() {
      this.$emit('close');
    },
  },
};
</script>
