<template>
  <v-app>
    <v-container fluid class="error-page">
      <v-row class="logo-wrapper">
        <!-- <v-img
          src="@/assets/belstar.png"
          contain
          width="62"
          height="48"
        ></v-img> -->
        <span class="logo-title">Sex trilobite</span>
      </v-row>
      <v-row class="d-flex justify-center">
        <v-col cols="8">
          <div class="card">
            <span class="error-logo">404</span>
            <p class="error-text">
              Oops. Looks like the page you're looking for no longer exists
            </p>
            <p class="error-subtext">
              But we're here to bring you back to safety
            </p>

            <v-btn class="text-capitalize" dark x-large color="#536DFE" to="/">
              Back to Home
            </v-btn>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
export default {
  name: 'Error',
  data() {
    return {};
  },
};
</script>

<style lang="scss">
.error-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .logo-wrapper {
    align-items: center;
    margin-bottom: 30px;

    .logo-title {
      font-size: 32px;
      font-weight: 500;
      color: white;
    }
  }
  .card {
    padding: 0 25px;
    background-color: white;
    border-radius: 4px;
    height: 680px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    .error-logo {
      font-size: 110px;
      font-weight: 600;
    }
    .error-text {
      text-align: center;
      font-size: 1.5rem;
    }
    .error-subtext {
      text-align: center;
      font-size: 1.285rem;
    }
  }
}
</style>
